//- Head
//-
//- Agrega los datos de `<head>`
//- @author zkreations
//- @link https://www.zkreations.com

b:includable(id='canvas:head')
  //- Dados comunes (obligatorio)
  meta(expr:charset='data:blog.encoding')
  meta(content='width=device-width,initial-scale=1', name='viewport')

  //- Gestion de titulos
  title: b:eval(expr='data:view.isError ? data:skin.vars.t_404 : data:view.title.escaped')

  //- Informacion básica del sitio (recomendado)
  meta(expr:content='data:view.description.escaped', name='description')
  link(expr:href='data:view.url.canonical', rel='canonical')
  link(expr:href='data:blog.blogspotFaviconUrl', rel='icon', type='image/x-icon')

  //- Meta datos de canvas (recomendado)
  if blogger.headMeta
    //- Open Graph (recomendado)
    b:tag(cond='data:appId', expr:content='data:appId', name='meta', property='fb:app_id')
    meta(expr:content=`!${view.single} ? "article" : "website"`, property='og:type')
    meta(expr:content='data:blog.title', property='og:site_name')
    b:include(cond=`!${view.error}`, name='openGraphMetaData')

    //- Robots (recomendado)
    //- Solo indexar pagina de inicio, posts y paginas (recomendado)
    b:if(cond=`${view.home} or ${view.single}`)
      meta(content='index,follow,max-snippet:-1,max-image-preview:large,max-video-preview:-1', name='robots')
      b:else
      meta(content='noindex,follow', name='robots')

    //- Especificar tipo de Twitter Card (recomendado)
    meta(content='summary_large_image', name='twitter:card')

  //- Aviso de cookies (recomendado)
  script.
    cookieOptions = {
      <b:if cond='data:skin.vars.t_cookie != ""'>msg: "<data:skin.vars.t_cookie/>",</b:if>
      <b:if cond='data:skin.vars.d_cookie != ""'>link: "<data:skin.vars.d_cookie/>",</b:if>
    };
  //- End Cookie Choices

  //- Datos para analítica (opcional)
  if blogger.analytics
    b:if(cond='data:blog.analyticsAccountNumber')
      script(async, expr:src='params("https://www.googletagmanager.com/gtag/js",{id: data:blog.analyticsAccountNumber})')
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config','<data:blog.analyticsAccountNumber/>');
      //- End GA-4

  //- Datos para adsense (opcional)
  if blogger.adsense
    b:tag(defer, name='script',
      cond='data:blog.adsenseClientId',
      src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')