//- Crea las variables de personalización
//- @author zkreations
//- @param {object} object - Objeto con nombres de variables

mixin variables(object)
  - null == locals.variables && (locals.variables = []);
  each items, key in object
    //- Solo construir variables que no se hayan definido
    if !(locals.variables.includes(key))
      if (items.hasOwnProperty("value"))
        Variable(
            name=key,
            description=items.description || key,
            type=items.type || "string",
            default=(items.hasOwnProperty("type") ? items.value : false),
          )&attributes(items)/
        //- Al agregar el nombre a la matriz, evitamos que se repita
        - locals.variables.push(key);

      else
        - console.warn(`Valor faltante para la variable "${key}"`)
    else
      - console.warn(`La variable "${key}" ya fue definida`)

